@model CiuchApp.Domain.Clothe

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clothe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessTripId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessTripId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSizeS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfSizeS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSizeM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfSizeM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSizeL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfSizeL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
