@model IEnumerable<CiuchApp.Domain.Piece>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tableClothes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessTripId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessTripId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    <a class="Edit" @*asp-action="Edit" asp-route-id="@item.Id"*@>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="Delete" @*asp-action="Delete" asp-route-id="@item.Id"*@>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
