@model IEnumerable<CiuchApp.Domain.BusinessTrip>

@{
    ViewData["Title"] = "Index";
}

<h2>Wyjazdy służbowe</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.DateFrom)</th>
            <th>@Html.DisplayNameFor(model => model.DateTo)</th>
            <th>@Html.DisplayNameFor(model => model.Country)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.Season)</th>
            <th>@Html.DisplayNameFor(model => model.Currency)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.DateFrom)</td>
            <td>@Html.DisplayFor(modelItem => item.DateTo)</td>
            <td>@item.Country.Name</td>
            <td>@Html.DisplayFor(modelItem => item.City.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Season.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Currency.Name)</td>
        </tr>
}
    </tbody>
</table>
<div id="tableErrorSection" style="color:red"></div>
