@model IEnumerable<CiuchApp.Domain.BusinessTrip>

<div class="row">

    @foreach (var item in Model)
    {
        var businessTripImage = @"/images/BusinessTripImages/" + item.CountryId + ".PNG";

        <div class="card">
            <div class="card-img-wrapper" style="background-image:url(@businessTripImage)">
            </div>
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Id). @Html.DisplayFor(modelItem => item.Country.Name) - @Html.DisplayFor(modelItem => item.City.Name)</h4>
                <div class="card-text">@Html.DisplayFor(modelItem => item.DateFrom) - @Html.DisplayFor(modelItem => item.DateTo)</div>
                <div class="card-text">@Html.DisplayNameFor(model => model.Season): @Html.DisplayFor(modelItem => item.Season.Name)</div>
                <div class="card-text">@Html.DisplayNameFor(model => model.Currency): @Html.DisplayFor(modelItem => item.Currency.Name)</div>
                <a href="#" class="btn btn-primary card-button">Edytuj</a>
                <a href="#" class="btn btn-outline-secondary card-button">Usuń</a>
            </div>
        </div>

    }
</div>


<table class="table" style="margin-top:700px">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.DateFrom)</th>
            <th>@Html.DisplayNameFor(model => model.DateTo)</th>
            <th>@Html.DisplayNameFor(model => model.Country)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.Season)</th>
            <th>@Html.DisplayNameFor(model => model.Currency)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.DateFrom)</td>
            <td>@Html.DisplayFor(modelItem => item.DateTo)</td>
            <td>@item.Country.Name</td>
            <td>@Html.DisplayFor(modelItem => item.City.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Season.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Currency.Name)</td>
        </tr>
}
    </tbody>
</table>
<div id="tableErrorSection" style="color:red"></div>
