@model CiuchApp.Domain.Piece

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Piece</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessTrip.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainCategory.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComponentsId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentsId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryOfOrigin.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplier.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimatedDateOfShipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatedDateOfShipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimatedTimeOfDelivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatedTimeOfDelivery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodeCn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodeCn.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Set)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Set.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColorName.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
