@using CiuchApp.Dashboard.Extensions.ViewComponents
@using CiuchApp.Dashboard.Extensions
@model CiuchApp.Domain.Piece

@{
    //Set dropdowns
    //Types need to be define - as they are passed to Html Extension Methods that cannot be dispatched
    IEnumerable<SelectListItem> colors = CiuchAppHtml.SelectList<Color>(ViewBag.Color);
    IEnumerable<SelectListItem> topCategories = CiuchAppHtml.SelectList<TopCategory>(ViewBag.TopCategory);
    IEnumerable<SelectListItem> mainCategories = CiuchAppHtml.SelectList<MainCategory>(ViewBag.MainCategory);
    IEnumerable<SelectListItem> groups = CiuchAppHtml.SelectList<Group>(ViewBag.Group);
    IEnumerable<SelectListItem> components = CiuchAppHtml.SelectList<Component>(ViewBag.Component);
    IEnumerable<SelectListItem> countryOfOrigins = CiuchAppHtml.SelectList<CountryOfOrigin>(ViewBag.CountryOfOrigin);
    IEnumerable<SelectListItem> suppliers = CiuchAppHtml.SelectList<Supplier>(ViewBag.Supplier);
    IEnumerable<SelectListItem> codeCns = CiuchAppHtml.SelectList<CodeCn>(ViewBag.CodeCn);
    IEnumerable<SelectListItem> sets = CiuchAppHtml.SelectList<Set>(ViewBag.Set);
    IEnumerable<SelectListItem> colorNames = CiuchAppHtml.SelectList<ColorName>(ViewBag.ColorName);
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="BusinessTripId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainCategory" class="control-label"></label>
                <select asp-for="MainCategoryId" class="form-control" asp-items="@mainCategories"></select>
                <span asp-validation-for="MainCategoryId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <select asp-for="GroupId" class="form-control" asp-items="@groups"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component" class="control-label"></label>
                <select asp-for="ComponentId"  class="form-control" asp-items="@components"></select>
                <span asp-validation-for="ComponentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryOfOrigin" class="control-label"></label>
                <select asp-for="CountryOfOriginId" class="form-control" asp-items="@components"></select>
                <span asp-validation-for="CountryOfOriginId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyPrice" class="control-label"></label>
                <input asp-for="BuyPrice" class="form-control" />
                <span asp-validation-for="BuyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellPrice" class="control-label"></label>
                <input asp-for="SellPrice" class="form-control" />
                <span asp-validation-for="SellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="@suppliers"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="SizeId" class="control-label"></label>
            <select asp-for="SizeId" class="form-control" asp-items="ViewBag.SizeId"></select>
            <span asp-validation-for="SizeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedDateOfShipment" class="control-label"></label>
                <input asp-for="EstimatedDateOfShipment" class="form-control" />
                <span asp-validation-for="EstimatedDateOfShipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedTimeOfDelivery" class="control-label"></label>
                <input asp-for="EstimatedTimeOfDelivery" class="form-control" />
                <span asp-validation-for="EstimatedTimeOfDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeCn" class="control-label"></label>
                <select asp-for="CodeCnId" class="form-control" asp-items="@codeCns"></select>
                <span asp-validation-for="CodeCnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Set" class="control-label"></label>
                <select asp-for="SetId" class="form-control" asp-items="@sets"></select>
                <span asp-validation-for="SetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorName" class="control-label"></label>
                <select asp-for="ColorNameId" class="form-control" asp-items="@colorNames"></select>
                <span asp-validation-for="ColorNameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn btn-success" />
                <a href='javascript:history.go(-1)' class="btn btn btn-secondary">Anuluj</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
